<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- W tym miejscu będą zapisywane wyniki pomiarów oraz wynikowe drzewo MVB. -->
		<add key="sciezka_folderu_wyjsciowego" value="../../../Pliki wynikowe/" />
		<!-- Liczba generownych urządzeń. -->
		<add key="liczba_urzadzen" value="100" />
		<!-- Parametr wpływający na to jak często następuje podział korzenia. -->
		<add key="granica_przezywalnosci" value="0,2" />
		<!-- Minimalna liczba urządzeń w korzeniu, aby mógł się podzielić. -->
		<add key="min_urzadzen_korzen" value = "15" />
	</appSettings>
</configuration> 